[project]
	description = Remote PC framework
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/heliumfire
[access "refs/for/refs/*"]
	read = group user/heliumfire
	push = group user/heliumfire
	label-Code-Review = -2..+2 group user/heliumfire
	label-Verified = -1..+1 group user/heliumfire
	rebase = group user/heliumfire
	removeReviewer = group user/heliumfire
	submit = group user/heliumfire
[access "refs/heads/*"]
	read = group user/heliumfire
	create = group user/heliumfire
	push = +force group user/heliumfire
	pushMerge = group user/heliumfire
[access "refs/tags/*"]
	push = +force group user/heliumfire
	pushTag = group user/heliumfire
	pushSignedTag = group user/heliumfire
